# Scroll down to see 'DO NOT IGNORE' files

# Local test files
ltest*

# CS dataset
data/CS/

# BPI datasets
BPI*/

# PyG dataset files
*.pt
*.csv.gz

# Pickled objects and data files
*.fs
*.pkl
*.xlsx

# Resources
*.pptx
*.csv
*.pickle
*.zip
*.png
*.json
*.jsonocel

# IDE
/.idea
/.idea/inspectionProfiles

# Temporary
*.log
*__pycache__
*.DS_Store

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pyre
.pyre_configuration
.watchmanconfig
.pyre/

## Vue.js frontend
/src/.idea
/src/.idea/
/src/frontend/node_modules
/src/frontend/dist


# local env files
/src/frontend/.env.local
/src/frontend/.env.*.local

# Log files
/src/frontend/npm-debug.log*
/src/frontend/yarn-debug.log*
/src/frontend/yarn-error.log*
/src/frontend/pnpm-debug.log*

# Editor directories and files
/src/frontend/.idea
/src/frontend/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Deprecated lib
/lib

# Examples
# /example_logs
# /examples

/build
/dist

# DO NOT IGNORE THIS (DO UPLOAD)
# !BPI2017-Final.csv
!*BPI2017-Final.jsonocel.zip
